@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Global Styling*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

h1 {
  font-size: 50px;
  color: #222;
  line-height: 64px;
}

h2 {
  font-size: 46px;
  color: #222;
  line-height: 54px;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-size: 12px;
  font-weight: 700;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0px 20px 0px;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0px;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: white;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

/* Home Page */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 2;
  position: sticky;
  top: 0;
  right: 0;
}

#nav_bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav_bar li {
  list-style: none;
  padding: 0px 20px;
  position: relative;
}

#nav_bar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease-in-out;
}

#nav_bar li a:hover,
#nav_bar li a.active {
  color: #088178;
}

#nav_bar li a.active::after,
#nav_bar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

#hero {
  background-image: url(img/hero4.png);
  width: 100%;
  height: 90vh;
  background-position: top 25% right 0%;
  background-size: cover;
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 20px;
}

#hero h1 {
  color: #088178;
}

#hero button {
  background-image: url(img/button.png);
  background-color: transparent;
  color: #088178;
  border: 0px;
  padding: 14px 80px 14px 65px;
  font-weight: 700;
  background-repeat: no-repeat;
  font-size: 16px;
  cursor: pointer;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 5px;
  margin: 15px 0px;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box h6 {
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 5px;
  color: #088178;
  background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#product1 {
  text-align: center;
}

#product1 p {
  color: #465b52;
}

#product1 .pro_container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0px;
  transition: 0.3s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding-block: 10px;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
  padding: 5px 0px;
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 20px;
  font-weight: 700;
  color: #088178;
}

#product1 .pro a {
  width: 40px;
  height: 40px;
  color: #088178;
  border-color: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(img/b2.jpg);
  height: 40vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#banner h4 {
  color: white;
  font-size: 16px;
}

#banner h2 {
  color: white;
  font-size: 30px;
  padding: 10px 0px;
}

#banner h2 span {
  color: #ef3636;
}

#banner button:hover {
  background-color: #088178;
  color: white;
}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(img/b17.jpg);
  height: 50vh;
  min-width: 660px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
}

#sm-banner h4 {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

#sm-banner h2 {
  color: white;
  font-size: 28px;
  font-weight: 800;
}

#sm-banner span {
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
  background-color: #088178;
  border: 1px solid #088178;
}

#sm-banner .banner-box:nth-child(2) {
  background-image: url(img/b10.jpg);
}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 80px;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(img/b7.jpg);
  height: 30vh;
  min-width: 30%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  margin-bottom: 20px;
}

#banner3 .banner-box:nth-child(2) {
  background-image: url(img/b4.jpg);
}

#banner3 .banner-box:nth-child(3) {
  background-image: url(img/b18.jpg);
}

#banner3 .banner-box h2 {
  color: white;
  font-weight: 900;
  font-size: 22px;
  text-transform: uppercase;
}

#banner3 .banner-box h3 {
  color: #ef3636;
  font-size: 15px;
  font-weight: 800;
}

#news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(img/b14.png);
  background-repeat: no-repeat;
  background-position: top 20% left 30%;
  background-color: #041e42;
}

#news h4 {
  font-size: 22px;
  font-weight: 700;
  color: white;
}

#news p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

#news span {
  color: #ffbd27;
}

#news input {
  height: 3.125rem;
  padding: 0px 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#news .form {
  display: flex;
  width: 40%;
}

#news button {
  background-color: #088178;
  color: white;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0px 0px 8px 0px;
  color: #465b52 !important;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .icon i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  cursor: pointer;
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0px 15px 0px;
}

footer .icon i:hover,
footer a:hover {
  color: #088178;
}

.copyright {
  text-align: center;
}

/* Shop Page*/

#page_header {
  background-image: url(img/b1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px;
}

#page_header h2,
p {
  color: white;
}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}

#pagination a i {
  font-size: 16px;
}

/* Single Product */

#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

#prodetails {
  display: flex;
  margin-top: 20px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h4 {
  padding: 40px 0px 20px 0px;
}

#prodetails .single-pro-details h2 {
  font-size: 26px;
}

#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
  outline: none;
}

#prodetails .single-pro-details button {
  background-color: #088178;
  color: white;
}

#prodetails .single-pro-details span {
  line-height: 25px;
  color: #465b52;
}

/* Blog Page */

#page_header.blog_header {
  background-image: url(img/b19.jpg);
}

#blog {
  padding: 150px 150px 0px 150px;
}

.blogbox {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 90px;
}

.blogImg {
  width: 50%;
  margin-right: 40px;
}

.blogImg img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.blogDetails {
  width: 50%;
}

.blogDetails p {
  font-size: 16px;
  color: #465b52;
}

.blogDetails a {
  text-decoration: none;
  font-size: 11px;
  color: black;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}

.blogDetails a::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 4px;
  right: -60px;
}

.blogDetails a:hover {
  color: #088178;
}

.blogDetails a:hover::after {
  background-color: #088178;
}

.blogbox {
  position: relative;
}

#blog .blogbox h1 {
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
  z-index: -2;
}

/* About Page */

#page_header.about_header {
  background-image: url(img/banner.png);
}

#aboutHead {
  display: flex;
  align-items: center;
}

#aboutHead img {
  width: 50%;
  height: auto;
}

#aboutHead div {
  padding-left: 40px;
}

#aboutHead p {
  font-size: 16px;
  color: #465b52;
}

#aboutApp {
  text-align: center;
}

#aboutApp .video video {
  width: 70%;
  height: 100%;
  margin-top: 30px;
  border-radius: 12px;
}

/* Contact Page */

#contactDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contactDetails .details {
  width: 45%;
}

#contactDetails .details span,
#formDetails form span {
  font-size: 12px;
}

#contactDetails .details h2,
#formDetails form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0px;
}

#contactDetails .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}

#contactDetails .details li {
  display: flex;
  list-style: none;
  padding: 10px 0px;
}

#contactDetails .details li i {
  font-size: 14px;
  padding-right: 22px;
  color: #465b52;
}

.details div li p {
  font-size: 14px;
  color: #465b52;
  margin: 0;
}

#contactDetails .map {
  width: 50%;
  height: 400px;
}

#contactDetails .map iframe {
  width: 100%;
  height: 100%;
}

#formDetails {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}

#formDetails form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#formDetails form input,
#formDetails form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}

#formDetails form button {
  background-color: #088178;
  color: white;
}

#formDetails .people p {
  font-size: 14px;
  color: #465b52;
  margin: 0;
  line-height: 25px;
}

#formDetails .people div {
  padding-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

#formDetails .people div img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}

#formDetails .people div p span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: black;
}

/* Cart Page */
#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img {
  width: 70px;
}

#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0px;
}

#cart table tbody tr td {
  padding-top: 15px;
}

#cart table tbody td {
  font-size: 13px;
}

#cartAdd {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#coupon {
  width: 50%;
  margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
  padding-bottom: 15px;
}

#coupon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button {
  background-color: #088178;
  color: white;
  padding: 12px 20px;
}

#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e1e9e1;
  padding: 30px;
}

#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}

/* Responsive Design */

@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }
  #nav_bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0px 0px 10px;
    transition: 0.3s;
  }

  #nav_bar.active {
    right: 0px;
  }

  #nav_bar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    font-size: 24px;
    padding-left: 20px;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }

  #lg_bag {
    display: none;
  }

  #hero {
    height: 70vh;
    padding: 0px 80px;
    background-position: top 30% right 30%;
  }

  #feature {
    justify-content: center;
  }

  #feature .fe-box {
    margin: 15px 15px;
  }

  #product1 .pro_container {
    justify-content: center;
  }

  #product1 .pro {
    margin: 15px;
  }

  #banner {
    height: 20vh;
  }

  #sm-banner .banner-box {
    height: 30vh;
    min-width: 100%;
  }

  #banner3 {
    padding: 0px 40px;
  }

  #banner3 .banner-box {
    width: 28%;
  }

  /* Contact Page */

  #formDetails {
    padding: 40px;
  }

  #formDetails form {
    width: 55%;
  }

  /* Cart Page */

  #cart {
    overflow-x: auto;
  }
}

@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }
  #header {
    padding: 10px 30px;
  }

  h2 {
    font-size: 32px;
  }

  h1 {
    font-size: 38px;
  }

  #hero {
    padding: 0px 20px;
    background-position: 55%;
  }

  #feature {
    justify-content: space-between;
  }

  #feature .fe-box {
    width: 155px;
    margin: 0px 0px 15px 0px;
  }

  #product1 .pro {
    width: 100%;
  }

  #banner {
    height: 40vh;
  }

  #sm-banner .banner-box {
    margin-top: 20px;
  }

  #banner3 {
    padding: 0px 20px;
  }

  #banner3 .banner-box {
    width: 100%;
  }

  #news .form {
    width: 100%;
  }

  /*Single Product*/
  #prodetails {
    display: flex;
    flex-direction: column;
  }

  #prodetails .single-pro-image {
    width: 100%;
    margin-right: 0px;
  }

  #prodetails .single-pro-details {
    width: 100%;
    padding-top: 30px;
  }

  /* Blog Page */
  #blog {
    padding: 100px 20px 0px 20px;
  }

  .blogbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 90px;
  }

  .blogImg {
    width: 100%;
    margin-bottom: 30px;
  }
  .blogDetails {
    width: 100%;
  }

  /* About Page */
  #aboutHead {
    display: flex;
    flex-direction: column;
  }

  #aboutHead img {
    width: 100%;
    height: auto;
  }

  #aboutHead div {
    padding-left: 0px;
  }

  #aboutApp .video video {
    width: 100%;
  }

  /* Contact Page */

  #contactDetails {
    display: flex;
    flex-direction: column;
  }

  #contactDetails .details {
    width: 100%;
    margin-bottom: 30px;
  }

  #contactDetails .map {
    width: 100%;
    height: 400px;
  }

  #formDetails {
    margin: 10px;
    padding: 30px 10px;
    flex-wrap: wrap;
  }

  #formDetails form {
    width: 100%;
    margin-bottom: 30px;
  }

  /* Cart Page */

  #cartAdd {
    flex-direction: column;
  }

  #coupon {
    width: 100%;
    margin-bottom: 30px;
  }

  #subtotal {
    width: 100%;
  }
}
